interactions:
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.39.0 azsdk-python-azure-mgmt-resource/21.1.0b1 Python/3.8.10 (Windows-10-10.0.19044-SP0)
=======
      - AZURECLI/2.39.0 (PIP) azsdk-python-azure-mgmt-resource/21.1.0b1 Python/3.8.10
        (Windows-10-10.0.19044-SP0)
>>>>>>> containerapp-0.3.12
    method: GET
    uri: https://brazilsouth.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"northeurope","tags":{"product":"azurecli","cause":"automation","date":"2022-08-25T21:09:26Z"},"properties":{"provisioningState":"Succeeded"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"northeurope","tags":{"product":"azurecli","cause":"automation","date":"2022-09-07T23:51:54Z"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> containerapp-0.3.12
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Thu, 25 Aug 2022 21:09:32 GMT
=======
      - Wed, 07 Sep 2022 23:51:57 GMT
>>>>>>> containerapp-0.3.12
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "northeurope", "properties": {"sku": {"name": "PerGB2018"},
      "retentionInDays": 30, "workspaceCapping": {}}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AZURECLI/2.39.0 azsdk-python-mgmt-loganalytics/13.0.0b4 Python/3.8.10 (Windows-10-10.0.19044-SP0)
=======
      - AZURECLI/2.39.0 (PIP) azsdk-python-mgmt-loganalytics/13.0.0b4 Python/3.8.10
        (Windows-10-10.0.19044-SP0)
>>>>>>> containerapp-0.3.12
    method: PUT
    uri: https://brazilsouth.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2021-12-01-preview
  response:
    body:
<<<<<<< HEAD
      string: '{"properties":{"customerId":"3c8f6704-9d30-4067-91c9-2cf459a00e71","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2022-08-25T21:09:42.0962861Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2022-08-25T23:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2022-08-25T21:09:42.0962861Z","modifiedDate":"2022-08-25T21:09:42.0962861Z"},"location":"northeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004","name":"containerapp-env000004","type":"Microsoft.OperationalInsights/workspaces"}'
=======
      string: '{"properties":{"customerId":"fef65c6c-bd3e-4945-aa9c-164f0612def7","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2022-09-07T23:52:02.8880477Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2022-09-08T14:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2022-09-07T23:52:02.8880477Z","modifiedDate":"2022-09-07T23:52:02.8880477Z"},"location":"northeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004","name":"containerapp-env000004","type":"Microsoft.OperationalInsights/workspaces"}'
>>>>>>> containerapp-0.3.12
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Thu, 25 Aug 2022 21:09:43 GMT
=======
      - Wed, 07 Sep 2022 23:52:04 GMT
>>>>>>> containerapp-0.3.12
      expires:
      - '-1'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2021-12-01-preview
      pragma:
      - no-cache
      request-context:
      - appId=cid-v1:e6336c63-aab2-45f0-996a-e5dbab2a1508
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-powered-by:
      - ASP.NET
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.39.0 azsdk-python-mgmt-loganalytics/13.0.0b4 Python/3.8.10 (Windows-10-10.0.19044-SP0)
=======
      - AZURECLI/2.39.0 (PIP) azsdk-python-mgmt-loganalytics/13.0.0b4 Python/3.8.10
        (Windows-10-10.0.19044-SP0)
>>>>>>> containerapp-0.3.12
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspace[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.39.0 azsdk-python-mgmt-loganalytics/13.0.0b4 Python/3.8.10 (Windows-10-10.0.19044-SP0)
=======
      - AZURECLI/2.39.0 (PIP) azsdk-python-mgmt-loganalytics/13.0.0b4 Python/3.8.10
        (Windows-10-10.0.19044-SP0)
>>>>>>> containerapp-0.3.12
    method: POST
    uri: https://brazilsouth.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004/sharedKeys?api-version=2020-08-01
  response:
    body:
<<<<<<< HEAD
      string: '{"primarySharedKey":"CDe1UeR2XbRn10rtHnf7HXlBBM1q1VHoGFWBKXz+pB/eoahNfIg+V13jQTpWdRMicH8S4d1UyEyIHu0gDaEcNg==","secondarySharedKey":"kqwlxczYDI1Ms/a0vZo/j8QzsGOVfRBnlPeuaX+7kcIay9mQCoANYM4Y/slz8hw5sqC+skUpew349Reuz1AAaw=="}'
=======
      string: '{"primarySharedKey":"/5wS67Hrlqms/ECrqh5ZGPDlpG0C70qWtCa4HRmIZlZ6+bygrccPDCFiHyURhmTmUuboH3wj+KqDcWqoXgAqCA==","secondarySharedKey":"DAOOypNFArehV2Z8tWWfr1sJRBP+sZ4ELUI31WtrEQLDo2sazwVbGQMFviJfIbqOnIdmUMXL0xtKTmraSNjWzg=="}'
>>>>>>> containerapp-0.3.12
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Thu, 25 Aug 2022 21:10:19 GMT
=======
      - Wed, 07 Sep 2022 23:52:37 GMT
>>>>>>> containerapp-0.3.12
      expires:
      - '-1'
      pragma:
      - no-cache
      request-context:
      - appId=cid-v1:e6336c63-aab2-45f0-996a-e5dbab2a1508
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.39.0 azsdk-python-azure-mgmt-resource/21.1.0b1 Python/3.8.10 (Windows-10-10.0.19044-SP0)
=======
      - AZURECLI/2.39.0 (PIP) azsdk-python-azure-mgmt-resource/21.1.0b1 Python/3.8.10
        (Windows-10-10.0.19044-SP0)
>>>>>>> containerapp-0.3.12
    method: GET
    uri: https://brazilsouth.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","Canada Central","West Europe","North Europe","East US","East
        US 2","East Asia","Australia East","Germany West Central","Japan East","UK
        South","West US","Central US","North Central US","South Central US","Korea
        Central","Brazil South","Central US EUAP","East US 2 EUAP","West US 3","France
        Central","South Africa North","Norway East"],"apiVersions":["2022-06-01-preview","2022-03-01","2022-01-01-preview"],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","Canada Central","West Europe","North Europe","East US","East
        US 2","East Asia","Australia East","Germany West Central","Japan East","UK
        South","West US","Central US","North Central US","South Central US","Korea
        Central","Brazil South","Central US EUAP","East US 2 EUAP","[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.10 (Windows-10-10.0.19044-SP0) AZURECLI/2.39.0
    method: GET
    uri: https://brazilsouth.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/managedEnvironments?api-version=2022-06-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/helloworld/providers/Microsoft.App/managedEnvironments/hello-env","name":"hello-env","type":"Microsoft.App/managedEnvironments","location":"northcentralusstage","systemData":{"createdBy":"haroonfeisal@microsoft.com","createdByType":"User","createdAt":"2022-06-20T18:03:13.142111","lastModifiedBy":"haroonfeisal@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-06-20T18:03:13.142111"},"properties":{"provisioningState":"Succeeded","defaultDomain":"livelywave-1d65ee9c.northcentralusstage.azurecontainerapps.io","staticIp":"52.176.58.122","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"e969493b-c537-46b3-94c3-2d1a2c57f892"}},"zoneRedundant":false,"useKubenet":false,"customDomainConfiguration":{"customDomainVerificationId":"99A6464610F70E526E50B6B7BECF7E0698398F28CB03C7A235D70FDF654D411E","expirationDateUtc":"0001-01-01T00:00:00"}},"sku":{"name":"Consumption"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/freshRadio/providers/Microsoft.App/managedEnvironments/freshRadio-env","name":"freshRadio-env","type":"Microsoft.App/managedEnvironments","location":"northcentralusstage","systemData":{"createdBy":"haroonfeisal@microsoft.com","createdByType":"User","createdAt":"2022-07-18T19:11:45.1077787","lastModifiedBy":"haroonfeisal@microsoft.com","lastModifiedByType":"User","lastMo[...]
[...]
- request:
<<<<<<< HEAD
    body: '{"location": "canadacentral", "tags": null, "sku": {"name": "Consumption"},
      "properties": {"daprAIInstrumentationKey": null, "vnetConfiguration": null,
      "internalLoadBalancerEnabled": null, "appLogsConfiguration": {"destination":
      "log-analytics", "logAnalyticsConfiguration": {"customerId": "3c8f6704-9d30-4067-91c9-2cf459a00e71",
      "sharedKey": "CDe1UeR2XbRn10rtHnf7HXlBBM1q1VHoGFWBKXz+pB/eoahNfIg+V13jQTpWdRMicH8S4d1UyEyIHu0gDaEcNg=="}},
=======
    body: '{"location": "westeurope", "tags": null, "sku": {"name": "Consumption"},
      "properties": {"daprAIInstrumentationKey": null, "vnetConfiguration": null,
      "internalLoadBalancerEnabled": null, "appLogsConfiguration": {"destination":
      "log-analytics", "logAnalyticsConfiguration": {"customerId": "fef65c6c-bd3e-4945-aa9c-164f0612def7",
      "sharedKey": "/5wS67Hrlqms/ECrqh5ZGPDlpG0C70qWtCa4HRmIZlZ6+bygrccPDCFiHyURhmTmUuboH3wj+KqDcWqoXgAqCA=="}},
>>>>>>> containerapp-0.3.12
      "zoneRedundant": false}}'
    headers:
<<<<<<< HEAD
      - '461'
=======
      - '458'
>>>>>>> containerapp-0.3.12
      Content-Type:
      - application/json
      ParameterSetName:
      - -g -n --logs-workspace-id --logs-workspace-key
      User-Agent:
<<<<<<< HEAD
      - python/3.8.10 (Windows-10-10.0.19044-SP0) AZURECLI/2.39.0
    method: PUT
    uri: https://brazilsouth.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2022-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","na[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2022-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironm[...]
[...]
- request:
    body: '{"location": "westeurope", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"managedEnvironmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002",
      "configuration": {"secrets": null, "activeRevisionsMode": "single", "ingress":
      {"fqdn": null, "external": true, "targetPort": 80, "transport": "auto", "traffic":
      null, "customDomains": null, "allowInsecure": true}, "dapr": null, "registries":
      null}, "template": {"revisionSuffix": null, "containers": [{"image": "mcr.microsoft.com/azuredocs/containerapps-helloworld:latest",
      "name": "aca000003", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "scale": null, "volumes": null}}, "tags": null}'
    headers:
<<<<<<< HEAD
      - '802'
=======
      - '776'
>>>>>>> containerapp-0.3.12
      Content-Type:
      - application/json
      ParameterSetName:
      - -g -n --image --ingress --target-port --environment
      User-Agent:
<<<<<<< HEAD
      - python/3.8.10 (Windows-10-10.0.19044-SP0) AZURECLI/2.39.0
    method: PUT
    uri: https://brazilsouth.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/aca000003?api-version=2022-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/aca000003","name":"aca000003","type":"Microsoft.App/containerApps","location":"Canada
        Central","systemData":{"createdBy":"haroonfeisal@microsoft.com","createdByType":"User","createdAt":"2022-08-25T21:11:47.0121613Z","lastModifiedBy":"haroonfeisal@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-08-25T21:11:47.0121613Z"},"properties":{"provisioningState":"InProgress","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","outboundIpAddresses":["20.104.0.103","20.151.196.85","20.104.2.119"],"latestRevisionName":"","latestRevisionFqdn":"","customDomainVerificationId":"99A6464610F70E526E50B6B7BECF7E0698398F28CB03C7A235D70FDF654D411E","configuration":{"activeRevisionsMode":"Single","ingress":{"fqdn":"aca000003.livelypebble-2aa86f5e.canadacentral.azurecontainerapps.io","external":true,"targetPort":80,"transport":"Auto","traffic":[{"weight":100,"latestRevision":true}],"allowInsecure":true}},"template":{"revisionSuffix":"","containers":[{"image":"mcr.microsoft.com/azuredocs/containerapps-helloworld:latest","name":"aca000003","resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":""}}],"scale":{"maxReplicas":10}}},"identity":{"type":"None"}}'
=======
      - python/3.8.10 (Windows-10-10.0.19044-SP0) AZURECLI/2.39.0 (PIP)
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/aca000003?api-version=2022-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/aca[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/aca000003?api-version=2022-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/aca000003","name":"aca000003","type":"Microsoft.App/containerApps","location":"[...]
[...]
